@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --background_color: #F6F7F9;
    --cor_cards: #fff;
    --cor_secundaria: #3563E9;
    --cor_linha: #C3D4E9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;  
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background_color);
    display: grid;
    grid-template-columns: auto 1fr;
}

.title h1 {
    padding: 20px 60px;
}

.container {
    width: 70vw;
    background-color: var(--cor_cards);
    border-radius: 20px;
    margin: 0px 60px;
    text-align: center;
}